
<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <h2 class="alert alert-success text-centre">Update student</h2>
            <!-- when we submit the form(i.e we click on update button) the our url "redirect to /student/update/id" -->
            <form method="post" action="/student/update/<%= data._id %>">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" value="<%= data.name %>" class="form-control" id="name" name="name" />
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age</label>
                    <input type="text" value="<%= data.age %>" class="form-control" id="age" name="age" />
                </div>
                <div class="mb-3">
                    <label for="fees" class="form-label">Fees</label>
                    <input type="text"  value="<%= data.fees %>"   class="form-control" id="fees" name="fees" />
                </div>
                <button type="submit" class="btn btn-warning">Update</button>
                <!-- // we redirect to "/student" when we click on back to home button -->
                <a href="/student"><button type="button" class="btn btn-secondary">Back to home</button></a>
            </form>
        </div>
   
   
</div></div>



<%- include('./partials/footer.ejs') %>

